services:
  # Service for the Frontend
  - type: web
    name: frontend-dashboard
    env: static
    rootDir: dashboard-x
    plan: free
    buildCommand: "npm install && npm run build"
    staticPublishPath: ./dist

  # Service for the Backend API
  - type: web
    name: backend-api
    env: node
    rootDir: backend
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.mjs"
    envVars:
      - key: NODE_VERSION
        value: 22
      - key: DATABASE_URL
        fromDatabase:
          name: infinity-x-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: SUPER_ADMIN_EMAIL
        sync: false
      - key: SUPER_ADMIN_PASSWORD
        sync: false

  # Database for the application
  - type: mongodb
    name: infinity-x-db
    plan: free
