
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #111827; /* bg-gray-900 */
}

/* Custom scrollbar for better aesthetics in dark mode */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #111827; /* bg-gray-900 */
}
::-webkit-scrollbar-thumb {
  background: #374151; /* bg-gray-700 */
  border-radius: 5px;
  border: 2px solid #111827;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* bg-gray-600 */
}
